* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}
ul {
  list-style: none;
}

.banniere {
  background: url("./Images/bleu.jpeg");
  background-size: cover;
  width: 100%;
  height: 90vh;
}

.flotant {
  position: relative;
  top: 40vh;
  left: 10vw;
  width: 50vw;
  height: 34vh;
  margin: auto;
  padding: 30px;
  background-color: #005c9677;
}

.flotant h1 {
  color: #65ff65;
  font-size: 4rem;
  text-align: center;
}

.flotant p {
  color: white;
  font-size: 2.3rem;
  padding: auto;
  text-align: center;
  font-weight: bold;
}

.flotant span {
  color: white;
}

.bar-progess {
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(9, 106, 9, 0.4);
}

.bar-progess p {
  text-align: center;
  font-size: 1.7rem;
  color: rgba(0, 64, 128, 1);
}

h2 {
  text-align: center;
  margin: 20px;
  color: #005c96;
}

.partenaire {
  margin-top: 20px;
}

.partenaire .imgPart {
  display: flex;
  background-color: #d9d9d9c0;
  justify-content: space-around;
}

.imgPart img {
  margin-top: 10px;
  width: 7vw;
  height: 8vh;
}
.imgPart p {
  text-align: center;
  color: #096a09;
}
.partenaire .progessPater {
  padding: 15px;
  background-color: rgba(9, 106, 9, 0.4);
}

.progessPater p {
  text-align: center;
  font-size: 1.7rem;
  color: rgba(0, 64, 128, 1);
}

@keyframes example {
  0% {
    bottom: 0px;
  }
  100% {
    bottom: 7px;
  }
}

.block {
  color: rgba(155, 224, 201, 0.539);
  border: 2px solid rgba(0, 64, 128, 0.395);
  height: 40vh;
  margin-bottom: 7vh;
  margin-left: 20px;
  box-shadow: 5px 5px 5px 5px #005c9639;
  transition: transform 1s;
}

.blocks {
  max-width: 1700px;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  gap: 1rem;
  overflow: hidden;
}

.block i {
  border: none;
  border-radius: 20px / 50px;
  padding: 15px;
  margin: 0 auto;
  font-size: 17px;
  float: right;
  background-color: rgba(155, 224, 201, 0.539);
}

.grid-col h1,
p {
  color: #005c96;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

.block a {
  color: #323232;
}

.block img {
  width: 100%;
  height: 24vh;
  border-bottom-left-radius: 30%;
}

@media (min-width: 768px) {
  .blocks {
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
}

.cards {
  background-color: #d9d9d9c0;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 30px;
  display: grid;
  gap: 1rem;
}

.card {
  color: rgba(155, 224, 201, 0.539);
}

.card p {
  color: #005c96;
}

.card span {
  color: #248424;
}

.social .fa-solid {
  border: none;
  border-radius: 20px / 50px;
  padding: 5px;
  margin: 0 auto;
  font-size: 20px;
  float: right;
  color: rgb(233, 194, 122);
}

.grid-col h1 {
  font-size: 20px;
  margin: 10px;
  font-family: sans-serif;
  color: #1ee71e;
}

.grid-col span {
  font-size: 24px;
  margin: 10px;
}

.block a {
  color: #323232;
}

.card img {
  border: 2px solid #005c96;
  width: 25%;
  height: 8vh;
  margin: 30px;
  border-radius: 100%;
  transition: transform 0.1s;
}

.card img:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

@media (min-width: 768px) {
  .blocks {
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
  }
}
