* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.footer-dark {
  background: #aee5d8;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}
#footer a {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 30px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}
#footer ul.social li a:hover {
  color: #eeeeee;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

/* enregistrement */
.wrapper {
  max-width: 650px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid grey;
}

.content {
  width: 50%;
  border: 1px solid rgba(128, 128, 128, 0.582);
  height: 85vh;
  padding: 0;
  margin-top: 3vh;
}

.contentFirst {
  width: 100%;
  height: 35vh;
  padding: 20px;
  background-color: #005c96;
}
.wrapper .form-field input,
select {
  width: 100%;
  display: block;
  outline: none;
  border: none;

  background: none;
  font-size: 1.2rem;
  padding: 10px 15px 10px 10px;
}

.contentFirst form {
  width: 70%;
  height: 45vh;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.494);
  margin-left: 7vw;
  margin-top: 10vh;
  border-radius: 5px;
  overflow: hidden;
}
form h1 {
  color: #096a09;
  margin-top: 20px;
}

.contentFirst .btn {
  box-shadow: none;
  width: 50%;
  height: 50px;
  border: 2px solid #005c96;
  color: #096a09;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
  letter-spacing: 1.3px;
  font-size: 1.3rem;
  margin-left: 7vw;
}

.class {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}

.class img {
  width: 10%;
  position: relative;
  right: 5vw;
}

fieldset input {
  border: none;
}

.class h1 {
  position: relative;
  right: 4vw;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.theme h1 {
  margin: 30px;
}

.Box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.Box .Boxcard {
  position: relative;
  background: #005c9670;
  padding: 10px;
  margin-left: 30px;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  cursor: pointer;
}

.Box .Boxcard h3 {
  margin: 20px;
}

.Boxcard img {
  width: 100%;
  height: 30vh;
}

